<section class="page-heading" >
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="text-left">CHƯƠNG TRÌNH GIỚI THIỆU</h1>
         </div>
      </div>
   </div>
</section>
<div class="content wallet-balance" style="margin-bottom: 80px;">
   <div class="container" id="create_offer">
      <div class="row">
         <div class="col-sm-12">
            <div data-reactroot="">
               <div>
                  <div class="col-sm-8 col-md-6 col-sm-push-2 col-md-push-3">
                     <div class="title-centered title-decorated">
                        <h1>Hoa Hồng Giới Thiệu</h1>
                     </div>
                     <p>
                        <span>
                           <span>
                              Nhận ngay <b>0.01 BTC (~ 1,700,000 VND)</b> cho mỗi một người được bạn giới thiệu tham gia Remitano.
                           </span>
                        </span>
                     </p>
                     <p>
                        <strong>Điều kiện:</strong>
                        <span>
                           <span>
                              Người được bạn giới thiệu phải giao dịch tổng cộng ít nhất BTC (cả mua và bán đều được tính) và nếu trong một giao dịch xuất phát từ 2 người và cả 2 người đều được giới thiệu vào website thì lượng giao dịch được tính chia đều cho 2 người. <br><small>Tham khảo chính sách bên dưới nếu bạn cần thêm thông tin</small>
                           </span>
                        </span>
                     </p>
                     <p><span>Hoa hồng được cộng trực tiếp vào tài khoản của bạn và có thể sử dụng ngay lập tức.</span></p>
                     <hr>
                     <div class="text-center">
                        <h5>Đường dẫn giới thiệu:</h5>
                        <p>
                        <div class="referral-link"><strong class="text-danger referral-link">https://samitano.com/vn?ref={{user.displayName}}</strong></div>
                        </p>
                     </div>
                     <div class="text-center">
                        <p><a class="btn btn-primary" href="/dashboard#referrals">Bấm để xem danh sách giới thiệu của bạn</a></p>
                     </div>
                     <hr>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>