<section class="page-heading" >
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="text-left">Ví Santacoin Samitano</h1>
           
         </div>
      </div>
   </div>
</section>
<div class="content wallet-balance" style="margin-bottom: 80px;margin-top: 50px;">
   <div class="container" id="create_offer">
      <div class="row">
         <div class="col-sm-12">
            <div data-reactroot="">
               <div>
                  <div class="">
                    <div class="row">
                        <div class="col-md-6">
                           <figure class="alignnone"><img src="/images/coin_wallet.png" alt="coin wallet"></figure>
                        </div>
                        <div class="col-md-6">
                           <h2>Ví Santacoin Samitano</h2>
                           <p>Hãy đến với Wallet Samitano Santacoin, ví Santacoin đơn giản nhất trên thế giới.</p>
                           <span>
                              Tại sao đây là ví dành cho bạn:
                              <ol>
                                 <li>
                                    Sẵn sàng trong 5 giây: Nhập email của bạn và bắt đầu nhận Santacoin ngay lập tức
                                 </li>
                                 <li>Được thiết kế cho người bắt đầu</li>
                                 <li>Thử nghiệm kĩ càng bởi hơn 100k khách hàng của Samitano</li>
                                 <li>
                                   Bảo mật: Tùy chọn bật Authy để bảo vệ Santacoin của bạn
                                 </li>
                              </ol>
                           </span>
                           <div class="spacer-sm"></div>
                           <a class="btn btn-primary" href="/signin">Bắt đầu ngay</a>
                        </div>
                     </div>
                    
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>