<section class="page-heading" >
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="text-left">ĐĂNG NHẬP</h1>
            <h1 class="ng-binding ng-hide"></h1>
         </div>
      </div>
   </div>
</section>
<div class="row">
   
   <div class="cleafix">
   <div class="col-sm-4 col-sm-push-4">
      <form class="form login-form" id="frmChangePasswordss">
         <div class="form-group form-grop__icon">
            <i class="fa fa-key"></i>
            <div class="remi-colorized-field ">
               <input class="form-control" type="password" name="password" value="" placeholder="Nhập mật khẩu mới của bạn">
               <span class="error"></span>
               <div></div>
            </div>
         </div>
         <div class="form-group form-grop__icon">
            <i class="fa fa-key"></i>
            <div class="remi-colorized-field ">
               <input class="form-control" type="password" name="cfpassword" value="" placeholder="Nhập lại mật khẩu">
               <span  class="error"></span>
               <div></div>
            </div>
         </div>
         <input type="hidden" name="token" value="{{token}}">
         <div class="form-group"><button class="btn btn-block btn-primary btn-continue" type="submit"><span>Thay đổi mật khẩu</span></button></div>
      </form>
   </div>
</div>

