<section class="page-heading" >
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="text-left">ĐĂNG KÝ TÀI KHOẢN</h1>
           
         </div>
      </div>
   </div>
</section>
<div class="row">
   <div class="col-sm-4 col-sm-push-4">
      <form class="form login-form" id="frmregister">
         <div class="form-group form-grop__icon">
            <i class="fa fa-user"></i>
            <div class="remi-colorized-field ">
               <input class="form-control" type="text" name="username" value="" placeholder="Nhập tên đăng nhập của bạn">
               <span class="error"></span>
               <div></div>
            </div>
         </div>
         <div class="form-group form-grop__icon">
            <i class="fa fa-envelope-o"></i>
            <div class="remi-colorized-field ">
               <input class="form-control" type="text" name="email" value="" placeholder="Nhập email của bạn">

               <span class="error"></span>
               <div></div>
            </div>
         </div>
         <div class="form-group form-grop__icon">
            <i class="fa fa-key"></i>
            <div class="remi-colorized-field ">
               <input class="form-control" type="password" name="password" value="" placeholder="Nhập mật khẩu của bạn">
               <span  class="error"></span>
               <div></div>
            </div>
         </div>
         <div class="form-group form-grop__icon">
            <i class="fa fa-key"></i>
            <div class="remi-colorized-field ">
               <input class="form-control" type="password" name="cfpassword" value="" placeholder="Nhập lại mật khẩu">
               <span  class="error"></span>
               <div></div>
            </div>
         </div>
         <input type="hidden" class="token_crt" name="token" value="{{token}}">
         <input type="hidden" class="sponsor" name="sponsor" value="">
         <div class="form-group"><button class="btn btn-block btn-primary btn-continue" type="submit"><span>ĐĂNG KÝ</span></button></div>
      </form>
   </div>
</div>
