<div class="form-back-drop"></div>
    <!--Consulting Form-->
    <section class="consulting-form">
      <div class="inner-box">
            <div class="cross-icon"><span class="flaticon-cancel-1"></span></div>
            <div class="logo">
                <a href="/home/#"><img src="/home/images/logo-3.png" alt="" /></a>
            </div>
            <div class="title">
                <h2>Free Consultation</h2>
                <div class="separator"></div>
            </div>
            
            <!--Consult Form-->
            <div class="consult-form">
                <form method="post" action="http://t.commonsupport.com/mastercoin/contact.html">

                    <div class="form-group">
                        <input type="text" name="text" value="" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" value="" placeholder="Email Address" required>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Your Message"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="theme-btn btn-style-one">Submit</button>
                    </div>
                    
                </form>
            </div>
            
            <!--Btns Box-->
            <div class="btns-box">
                <a href="/home/#" class="signin-btn theme-btn"><span class="icon flaticon-web-log-in"></span> Sign In</a>
                <span class="or">or</span>
                <a href="/home/#" class="signup-btn theme-btn"><span class="icon flaticon-edit"></span> Sign Up</a>
            </div>
            
        </div>
    </section>
    <!--End Consulting Form-->
    
    <!--Main Slider-->
      
    
    
    
    <!--Services Section-->
    <section class="services-section">
      <div class="auto-container">
         <!--Sec Title-->
            <div class="sec-title centered">
               <h2>Santacoin Viet Nam</h2>
                <div class="separator"></div>
            </div>
            <div class="row clearfix">
               
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                     <div class="icon-box">
                           <span class="icon flaticon-shield"></span>
                        </div>
                        <h3><a href="/">BẢO MẬT & AN TOÀN</a></h3>
                        <div class="text">Mọi thông tin, giao dịch của khách hàng sẽ được giữ bí mật, an toàn và ổn định cho các giao dịch online của khách</div>
                    </div>
                </div>
                
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                     <div class="icon-box">
                           <span class="icon flaticon-exchange-1"></span>
                        </div>
                        <h3><a href="/home/services-single.html">GIÁM SÁT THEO THỜI GIAN</a></h3>
                        <div class="text">Chúng tôi luôn giám sát các giao dịch theo thời gian thực</div>
                    </div>
                </div>
                
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                     <div class="icon-box">
                           <span class="icon flaticon-employee"></span>
                        </div>
                        <h3><a href="/home/services-single.html">TIỀN LÀ CỦA BẠN</a></h3>
                        <div class="text">Tiền bạn nạp vào để giao dịch sẽ được thống kê và gửi vào tài khoản của bạn</div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Services Section-->
    
    
    <!--Buy Section-->
    <section class="buy-section" style="background-image:url(images/background/pattern-1.png)">
      <div class="auto-container">
         <div class="row clearfix">
               <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                  <div class="inner-column">
                     <div class="sec-title light">
                           <h2>Mua Bán STC</h2>
                            <div class="separator"></div>
                        </div>
                        <div class="text">
                           <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and will give you a complete account our off work system, expound the actual teachings of the great explorer sed of the truth.</p>
                            <p>No one rejects, dislikes, or avoids pleasure itself, because it is procure him some great pleasure undertakes seds laborious  except to obtain some advantage.</p>
                        </div>
                        <a href="/home/#" class="theme-btn btn-style-one">Buy Now</a>
                    </div>
                </div>
                <!--Services Column-->
                <div class="services-column col-md-6 col-sm-12 col-xs-12">
                  <div class="row clearfix">
                    
                        <div class="services-block-three col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-bitcoin-2"></span>
                                </div>
                                <h3>Create Wallet</h3>
                                <div class="number">1</div>
                            </div>
                        </div>
                        
                        <div class="services-block-three col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-credit-card"></span>
                                </div>
                                <h3>Make Payment</h3>
                                <div class="number">2</div>
                            </div>
                        </div>
                        
                        <div class="services-block-three col-md-4 col-sm-12 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-bitcoin"></span>
                                </div>
                                <h3>Buy or Sell</h3>
                                <div class="number">3</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>