<section class="services-section">
      <div class="auto-container">
         <!--Sec Title-->
            <div class="sec-title centered">
               <h2>VÍ SANTA VIET NAM</h2>
                <div class="separator"></div>
            </div>
            <div class="row clearfix">
               <div class="services-block col-sm-6 col-xs-12" style="text-align: center;">
               <img src="/home/images/wallet_icon.png" style="margin: 0 auto">
               </div>
               <div class="services-block col-sm-6 col-xs-12">
                  <p>Hãy đến với Wallet Santacoin Bitcoin, ví Bitcoin đơn giản nhất trên thế giới.</p>
                  <p>Tại sao đây là ví dành cho bạn:</p>
                  <ol style="padding-left: 20px;">
                     <li>1. Sẵn sàng trong 5 giây: Nhập email của bạn và bắt đầu nhận Bitcoin ngay lập tức</li>
                     <li>2. Được thiết kế cho người bắt đầu</li>
                     <li>3. Thử nghiệm kĩ càng bởi hơn 100k khách hàng của Santacoin</li>
                     <li>4. Bảo mật: Tùy chọn bật Authy để bảo vệ Bitcoin của bạn</li>
                  </ol>
               </div>
            </div>
      </div>
</section>